bitsandbytes==0.39.1
transformers==4.30.0
### peft version: 0.4.0.dev0
git+https://github.com/huggingface/peft.git
### accelerate version: 0.21.0.dev0
git+https://github.com/huggingface/accelerate.git
### trl version: 0.4.7.devO
git+https://github.com/lvwerra/trl.git
datasets==2.13.1
scipy==1.11.0
evaluate==0.4.0
rouge_score
wandb
nltk
ctranslate2==3.16.0
jupyterlab
sentencepiece==0.1.99